
#table-list {
    /*width:300px;
    font-family : sans-serif;
    */
    font-family : Poppins;
    
}
#table-list  .item {
    border: 1px  solid #D8D8D8;
    cursor: pointer;
}

#table-list  .item:hover {
    background-color: dimgray;
    color: white;
}

#table-list .selected {
    background-color: dodgerblue;
    color: white;
}

#table-list .added {
    background-color: #CECECE;
}

#table-btns {
    margin-top: 10px;
}

#table-btns .butn {
    /*
    background-color: #ADCFFF;
    margin-right: 10px;
    cursor: pointer;
    padding: 2px 4px;
    */
}

#table-selection {
    /*
    position: fixed;
    top: 30%;
    left: 30%;
    z-index: 10000;
    background-color: #ffffff;
    */
    /*padding: 10px;
    border: 5px solid #555;*/
    color:dimgray;
    box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.1) !important;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
}