/*{"dash-name":"Default","dash-type":"default"}*/
.page-content,.generator-grid-preview-container {
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;            
}
.m-subheader .m-subheader__title {
    color: black;
}
.custom-speedicon {
    border-color: white !important;
}
.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span, .text-muted {
    color: rgba(0,0,0,0.7);
}
.portlet.light.bordered {
    background: white;
    border: 1px solid #aaaaaa !important;
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;    
}
.portlet.light .content-fullscreen{
    border: 1px solid #ddd;
}
.portlet.light .datatables-fullscreen{
    border: 0px solid #aaa;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #aaa;
}
.portlet.light.bordered:hover {
    border: 1px solid darkslategray !important;
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px dotted darkgrey !important;
}
.portlet.light {
    background-color: transparent;
}
.panel-default>.panel-heading, .panel-primary>.panel-heading, .table.table-bordered thead > tr > th,.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background-color: dimgray;
}
h5.font-dark{
    color:white !important;
}
.portlet.light.bordered.portlet-fullscreen,.portlet.light.bordered.portlet-fullscreen:hover{
    background: rgba(0,0,0,0.8) url(../../../assets/global/img/pattern/pattern.png) repeat top left;
}
.page-header.navbar {
    background-color: rgb(0,0,0);
    border-bottom: 1px solid lightsteelblue;
    height: 55px;
}
/*
.leaflet-bar a,.leaflet-bar .leaflet-control{
    background-color: #555;
    color: azure;
}
*/
.leaflet-control-layers-toggle {
    background-color:#555;
    border: 1px solid white;
}
.portlet.light>.portlet-title>.actions .btn-default {
    color: rgba(0,0,0,0.8) !important;
}
.font-dark {
    color: #555!important;
}
.label-danger {
    background-color: red;
}
.custom-filter-area .panel-body{
    background-color: whitesmoke;
}
.portlet.light.custom-filter-section{
    border: 1px solid darkslategray !important;
}
h5.font-dark,.custom-panel-content .panel-heading h5 {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
/*AUTO COLOR LUNINANCE CHECKER */
.panel .panel-body{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}

/* CALENDAR */
.fc-unthemed .fc-today {
    background: lightgray;
}

/* DASHBOARD STAT */
.dashboard-stat {
    transition: all 0.2s linear;
    border: 1px solid azure;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
.dashboard-stat:hover {
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.3);
    border: 1px solid white;
    transform: scaleX(1.02) scaleY(1.02);
}