/*{"dash-name":"Gray Area","dash-type":"grey"}*/
body{
    color: #EEEEEE;
}
.page-content,.generator-grid-preview-container {
    background: lightslategray url(../../../assets/global/img/pattern/dark-stripes-light.png) repeat top left;
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;        
}
.portlet.light.bordered.portlet-fullscreen,.portlet.light.bordered.portlet-fullscreen:hover{
    background: rgba(0,0,0,0.8) url(../../../assets/global/img/pattern/pattern.png) repeat top left;
}
.portlet.light {
    background-color: transparent;
}
.portlet.light.bordered {
    background: rgba(0,0,40,0.4) url(../../../assets/global/img/pattern/fake-brick.png) repeat top left;
    border: 2px solid azure !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px !important;    
       -moz-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px !important;    
            box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px !important;    
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;    
}
.portlet.light.bordered:hover {
    border: 2px solid cornsilk !important;
    background-color: rgba(0,0,0,0.6);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0px !important;    
       -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0px !important;    
            box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0px !important;
}
.portlet.light.bordered .caption-icon, .portlet.light.bordered .caption-subject-dynamic, .portlet.light.bordered .caption-subject-profile,.portlet.light.bordered .caption-profile-icon,.portlet.light.bordered .caption-extra-center {
    color: cornsilk !important;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ccc;
}
.page-header.navbar {
    background-color: rgb(0,0,0);
    border-bottom: 1px solid lightsteelblue;
    height: 55px;
}
.custom-speedicon {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px !important;
    border-color: white !important;
}
.m-subheader .m-subheader__title {
    color: azure;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.text-muted {
    color: lightcyan;
}
.page-bar {
    background-color: rgba(0,0,0,0.25);
}
.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span {
    color: azure;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background-color: #333;
}
.dropdown-menu,.autocomplete-suggestions {
    background: rgba(255,255,255,1) url(../../../assets/global/img/pattern/ecailles.png) repeat top left;
}
.custom-advancedsearch-button {
    background-color: #555;
    color: azure;
    border: 1px solid white;
}
.autocomplete-input {
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px !important;
}
/*
.leaflet-bar a,.leaflet-bar .leaflet-control{
    background-color: #555;
    color: azure;
}
*/
.leaflet-control-layers-toggle {
    background-color:#555;
    border: 1px solid white;
}
.page-footer {
    background-color: black;
}
.page-footer .page-footer-inner {
    color: azure;
}
.page-footer a {
    /*color: antiquewhite;*/
}
.portlet.light>.portlet-title>.actions .btn-default {
    color: black !important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: azure;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: azure;
}
.font-dark {
    color: #555!important;
}
div.dataTables_wrapper div.dataTables_filter label {
    color: azure;
}
div.dataTables_wrapper div.dataTables_info {
    color: azure;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: white;
}
.table-striped>tbody>tr{
    color: #333;
}
.panel-default,.panel-primary {
    border-color: azure;
}
.custom-modal-body .panel-default,.custom-modal-body .panel-primary {
    border: 1px solid #ccc;
}

.tabbable-custom>.nav-tabs {
    background-color: #555;
}
.tabbable-custom>.nav-tabs>li.active>a {
    color: white;
    background-color:#000;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;       
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);                                    
}
.tabbable-custom>.nav-tabs>li.active>a:hover {
    color: azure;
    background-color:#222;
}
.tabbable-custom>.nav-tabs>li>a {
    color: azure;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;       
}
.tabbable-custom>.nav-tabs>li>a:hover {
    background-color:rgba(255,255,255,0.7);
    color: black;
}
/*
.tab-content>.active {
    color: dimgray;
}
*/
.tab-content{
    color: dimgray;
}

.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a {
    border-left: 1px solid white;
}

.dataTables_scrollFootInner{
    color:cornsilk;
}

table.dataTable tbody tr td a, .custom-modal-footer a {
    color: dodgerblue;
}
.modal-body div.dataTables_wrapper div.dataTables_filter label,.modal-body div.dataTables_wrapper div.dataTables_info {
    color: black;
}
.table.table-bordered thead > tr > th {
    background-color: #777;
}
.tabbable-custom>.nav-tabs>li.active {
    border-top: 3px solid #777;
}
.label-danger {
    background-color: red;
}
.content-fullscreen .panel,.custom-map-dh,.custom-datatables-portlet .content-fullscreen .dataTables_scroll,.spr-profile .portlet.light,.custom-form-area .panel {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 9px 9px 5px 0px !important;    
       -moz-box-shadow: rgba(0, 0, 0, 0.3) 9px 9px 5px 0px !important;    
            box-shadow: rgba(0, 0, 0, 0.3) 9px 9px 5px 0px !important;    
}
.dataTable .label{
    border: 1px solid darkgray;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px !important;    
       -moz-box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px !important;    
            box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px !important;        
}
.label-warning {
    background-color: darkorange;
}

.panel .panel-body{
    background: rgba(245, 245, 245, 0.5) url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}

.custom-speedicon-fast{
    background-color: green !important;    
}

.font-dark,.portlet.light>.portlet-title>.caption>i {
    color: rgba(245,245,220,0.9)!important;
    -webkit-transition: color 0.3s linear !important;
       -moz-transition: color 0.3s linear !important;
            transition: color 0.3s linear !important;        
}

.portlet.light.bordered:hover .font-dark,.portlet.light.bordered:hover .caption>i{
    color: rgba(245,245,220,0.9)!important;
}

table.dataTable tbody tr td a:hover, .custom-modal-footer a:hover {
    color: orangered;
}
table.pvtTable tr td {
    background-color: rgba(255,255,255,0.8);
}
.portlet>.portlet-title>.caption>.caption-helper{
    color: aliceblue;
}
.custom-modal-header {
    background-color: rgba(0,0,0,0.9);
}
.custom-content-datatable-area div.dataTables_wrapper div.dataTables_length label {
    color:aliceblue;
}

/* COMPENSATE FOR OVERALL COLOR WHITE IN BODY */
.autocomplete-suggestions,.autocomplete-input,.custom-modal-footer,.custom-filter-area .form-body,.custom-form-area .form-body,.modal-body div.dataTables_wrapper div.dataTables_length label,.pvtCheckContainer,table.pvtTable {
    color: dimgray;
}

/*ADD*/
.portlet.light.custom-filter-section{
    border: 1px solid white !important;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.3);    
}
.portlet.light.bordered:hover .custom-content-area{
    box-shadow: none;
}
.custom-panel-content{
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.3) !important;    
}
.panel-heading h5{
    font-weight: 400;
}
.panel-body{
    border: 2px solid black;
}
.map-fullscreen{
    box-shadow: rgba(0, 0, 0, 0.3) 7px 10px 5px 0px;
    border: 2px solid white;    
}
/*REPLACE*/
.panel-default>.panel-heading,.panel-primary>.panel-heading,.table.table-bordered thead > tr > th,h4.panel-title {
    background: #333 url(../../../assets/global/img/pattern/fabric-1-dark.png) repeat top left;
    color:azure;
}
/*REPLACE*/

/* AMCHARTS */
.amcharts-pie-slice {
    stroke-opacity: 0.3;
}
.amcharts-graph-column-front:hover,.amcharts-pie-slice:hover {
    fill: #333333;
    stroke: #FFF;
    stroke-opacity: 0.5;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; 
}
.amcharts-plot-area{
    fill: rgba(0,0,0,0.1);
}
.amcharts-axis-grid,.amcharts-axis-tick,.amcharts-pie-tick,.amcharts-axis-line{
    stroke: #777777;
}
.amcharts-axis-title,.amcharts-axis-label,.amcharts-title{
    fill: rgba(0,0,0,1);
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;     
}
.amcharts-legend-label,.amcharts-legend-value{
    fill: #333333;
}
/*
.amcharts-graph-line {
    filter: url(#dropshadow);
}
*/
.amcharts-graph-bullet{
    fill: black;
    stroke: white;
    stroke-opacity: 1;
    r: 4;
}
#fullscreen_div_list_modal .portlet-body, #fullscreen_div_list_body{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}
/* AMCHARTS */
h5.font-dark,.custom-panel-content .panel-heading h5,.custom-title-notification,.portlet.light>.portlet-title>.caption {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
/* GENERAL STYLE*/
.general-panel-title{
    background: #333 url(../../../assets/global/img/pattern/fabric-1-dark.png) repeat top left;
    color: azure;
    border: 1px solid white;
}

/*FULL CALENDAR AND ACTIVITIES*/
/* CALENDAR */
.fc td.fc-today{
    background-color: slategray;
    color: #EEEEEE;
}    
.fc-toolbar{
    color: #EEEEEE;
}
.fc td, .fc th{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px dotted gray;
}
.fc-event{
    border: 1px solid #fff;
    background-color: orangered;    
}
.portlet.calendar.light .fc-button {
    color: gray !important;
}
.portlet.calendar .fc-widget-header th{
    color: black;
}
/* CALENDAR */
.feeds li {
    background-color: rgba(0,0,0,0.4);
    color: azure;
}
.feeds li a {
    color: lightblue;
}
.feeds li a:hover {
    color: lightsalmon;
}
.portlet.light>.portlet-title>.nav-tabs>li.active>a, .portlet.light>.portlet-title>.nav-tabs>li:hover>a,.portlet.calendar.light .fc-button.fc-state-disabled {
    color: azure !important;
}
.portlet.light>.portlet-title>.nav-tabs>li>a {
    color: darkgray;
}
.daterangepicker table {
    color: dimgray;
}

/* DASHBOARD STAT */
.dashboard-stat {
    transition: all 0.2s linear;
    border: 1px solid azure;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
.dashboard-stat:hover {
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.3);
    border: 1px solid white;
    transform: scaleX(1.02) scaleY(1.02);
}

/* OVERRIDE DEFAULT COLORS */
form,.select2-container--bootstrap{
    color: dimgray;
}

/* WHITE FONT FIX FOR SPECIFIC AREA */
.themefix-font, .themefix-font input.no-border{
    color: lightgray !important;
}
.themefix-font .btn.btn-outline{
    background-color:white;
}
.portlet.light.bordered.themefix-bg,.themefix-bg.portlet.light.bordered{
    background: 0 0 !important;
    border: 0px !important;
    box-shadow: none !important;    
}
a.btn-info,a.btn-primary,a.btn-success{
    color: whitesmoke !important;
}    