/*{"dash-name":"JKSM","dash-type":"jksm"}*/
.page-content,.generator-grid-preview-container {
    background: #f3f3ff url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;        
}
.page-header.navbar,.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external,h4.panel-title,.custom-modal-header,.page-footer {
    background-color: #16173e;
}
.page-header.navbar{
    border-bottom: 1px solid lightsteelblue;
    height: 55px;
}
.badge {
    background-color: #c57500;
}
.badge-danger {
    background-color: red;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: antiquewhite;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: royalblue;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
    background: #ff6000;
}
.custom-speedicon {
    border-color: white !important;
}
.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span, .text-muted {
    color: rgba(0,0,0,0.8);
    text-shadow: 2px 2px 2px lightgrey;    
}
.page-bar {
    background-color: rgba(99, 147, 184, 0.2);
}
.portlet.light.bordered {
    border: 1px solid darkslategray !important;
    background: #ffffff url(../../../assets/global/img/pattern/pattern-white.png) repeat top left;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;    
}
.portlet.light.bordered:hover {
    border: 1px solid #bd681a !important;
    box-shadow: 5px 5px 10px 1px #00000042;
}
.m-subheader .m-subheader__title {
    color: black;
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px dotted darkgrey !important;
}
/*
.leaflet-bar a,.leaflet-bar .leaflet-control{
    background-color: #dc6900;
    color: azure;
}
*/
.panel-default>.panel-heading, .panel-primary>.panel-heading, .table.table-bordered thead > tr > th {
    background-color: #294480;
}
.panel .panel-body{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}
h5.font-dark{
    color:white !important;
}
.amcharts-plot-area{
    fill: rgba(175, 231, 255, 0.5);
}
.font-dark {
    color: #333!important;
}
.custom-modal-title-text .font-dark{
    color: #fff !important;
}
.portlet>.portlet-title>.actions .btn-icon-only.btn-default>i,.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen,.portlet.light>.portlet-title>.actions .btn-default {
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;
}
.portlet.light .content-fullscreen{
    border: 1px solid rgba(0, 0, 0, 0.5);    
}
.portlet.light .datatables-fullscreen{
    border: 0px solid #aaa;
}
.portlet.light.bordered:hover .content-fullscreen{
    border: 1px solid rgba(255, 69, 0, 0.21);
}
.portlet.light.bordered:hover .datatables-fullscreen{
    border: 0px solid rgba(255, 69, 0, 0.21);
}
.portlet.light.bordered:hover .btn-icon-only i,.portlet.light.bordered:hover .fullscreen,.portlet.light.bordered:hover .portlet-title .actions .btn-default{
    color: orangered !important;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ccc;
}
.label-danger {
    background-color: red;
}
.portlet.light>.portlet-title>.actions .btn-default{
    color: #333;
}
.portlet.light {
    background-color: transparent;
}
.portlet.light.custom-filter-section{
    border: 1px solid darkgrey !important;
}
#fullscreen_div_list_modal .portlet-body, #fullscreen_div_list_body{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}
h5.font-dark,.custom-panel-content .panel-heading h5 {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

/* CALENDAR */
.fc-unthemed .fc-today {
    background: orange;
    color: white;
}

/* DASHBOARD STAT */
.dashboard-stat {
    transition: all 0.2s linear;
    border: 1px solid azure;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
.dashboard-stat:hover {
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.3);
    border: 1px solid white;
    transform: scaleX(1.02) scaleY(1.02);
}

/* SIDEBAR VISUAL */
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #000140;
}
body {
    background-color: #000140;
}