/*{"dash-name":"Good Morning","dash-type":"morning"}*/
body{
}
.page-content,.generator-grid-preview-container {
    background: rgb(199, 233, 253) url(../../../assets/global/img/pattern/pattern-white.png) repeat top left;
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;        
}
.page-header.navbar {
    background-color: midnightblue;
    border-bottom: 1px dotted white;
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
            transition: all .3s linear;         
}
.page-header.navbar:hover {
    background: midnightblue url(../../../assets/global/img/pattern/pattern.png) repeat top left;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: bisque;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: whitesmoke;
}
.autocomplete-input {
    background-color: rgb(245, 245, 245);
}

.portlet.light.bordered {
    background-color: rgba(255,255,255,0.7);
    border: 2px solid #ccc !important;
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;    
}

.portlet.light.bordered:hover {
    background: rgb(255, 255, 255) url(../../../assets/global/img/pattern/pattern-white.png) repeat top left;
    border: 2px solid #7ac5e9 !important;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(150,150,150, 0.3);
       -moz-box-shadow: 0px 0px 20px 1px rgba(150,150,150, 0.3);
            box-shadow: 0px 0px 20px 1px rgba(150,150,150, 0.3);
}

.page-footer {
    background-color: midnightblue;
}
.font-dark {
    color: #000 !important;
}

.amcharts-plot-area{
    fill: #EBECFF;
    fill-opacity: 0.6;    
}
.amcharts-graph-bullet{
    fill: black;
    stroke: white;
    stroke-opacity: 1;
    r: 4;
}
.page-bar{
    background-color: rgba(0, 114, 255, 0.1);
    border: aliceblue 2px dotted;
}
.text-muted, .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span {
    color: darkblue;
}
.portlet.light.bordered>.portlet-title{
    border-bottom: 1px dotted gray;
}
.portlet.light{
    background-color: transparent;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #999;
}
.table-striped>tbody>tr:nth-of-type(even){
    background-color: whitesmoke;
}
.content-fullscreen{
    border: 1px solid white;
}
.portlet>.portlet-title>.caption>.caption-helper{
    color: darkblue;
}
.panel-default>.panel-heading{
    background-color: cornflowerblue;
}
.panel .panel-heading .font-dark{
    color: #fff !important
}
/* CALENDAR */
.fc td.fc-today{
    background-color: cornflowerblue;
    color: white;
}    
.fc td, .fc th{
    background-color: rgba(199, 233, 253, 0.1);
    border: 1px dotted gray;
}
.fc-event{
    border: 1px solid #fff;
    background-color: orangered;    
}
.portlet.calendar .fc-widget-header {
    background-color: lightskyblue;
}
/* CALENDAR */
.portlet.light.custom-filter-section{
    border: 1px solid darkgrey !important;
}
.custom-panel-content{
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
            transition: all .3s linear;         
}    
.portlet.light.bordered:hover .custom-panel-content{
    border: 1px solid #aaa;
    box-shadow: 5px 5px 5px 0px lightgrey !important;
}
#fullscreen_div_list_modal .portlet-body, #fullscreen_div_list_body{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}
h5.font-dark,.custom-panel-content .panel-heading h5 {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
/*AUTO COLOR LUNINANCE CHECKER */
.chart-fullscreen{
    background-color: rgba(245,245,245,0.5);
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;     
}
.portlet.light.bordered:hover .chart-fullscreen{
    background-color: white;
}
.panel .panel-body{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}

/* DASHBOARD STAT */
.dashboard-stat {
    transition: all 0.2s linear;
    border: 1px solid azure;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
.dashboard-stat:hover {
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.3);
    border: 1px solid white;
    transform: scaleX(1.02) scaleY(1.02);
}

/* SIDEBAR VISUAL */
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #010150;
}
body {
    background-color: #010150;
}