html {
    font-size: 14px;
}

/* BEGIN PRELOADER STYLE */
.preloader-overlay,.preloader-overlay-nonetwork,.preloader-overlay-logoutwarn,.preloader-overlay-firstload {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 20000;
}
.preloader-error,.preloader-content,.preloader-content-nonetwork,.preloader-content-logoutwarn,.preloader-content-firstload {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.8rem 5rem;
    white-space:nowrap;
    text-align: center;
    color: #fbca70;
    border: 2px solid rgba(255, 150, 0, 0.8);
    border-radius: 5px !important;
    -webkit-box-shadow: 0px 0px 100px 10px rgba(255, 203, 110, 0.4);
    -moz-box-shadow: 0px 0px 100px 10px rgba(255, 203, 110, 0.4);
    box-shadow: 0px 0px 100px 10px rgba(255, 203, 110, 0.4);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: box-shadow 0.5s linear,border 0.5s linear,background 0.5s linear,color 0.5s linear,filter 0.5s linear;
       -moz-transition: box-shadow 0.5s linear,border 0.5s linear,background 0.5s linear,color 0.5s linear,filter 0.5s linear;
            transition: box-shadow 0.5s linear,border 0.5s linear,background 0.5s linear,color 0.5s linear,filter 0.5s linear;    
} 
.preloader-overlay-nonetwork,.preloader-overlay-logoutwarn,.preloader-overlay{
    display: none;
} 
.preloader-content-nonetwork,.preloader-content-logoutwarn{
    color: #cccccc;
    border: 2px solid rgba(255, 103, 103, 0.7);
    -webkit-box-shadow: 0px 0px 40px 10px rgba(253, 167, 167, 0.5);
    -moz-box-shadow: 0px 0px 40px 10px rgba(253, 167, 167, 0.5);
    box-shadow: 0px 0px 40px 10px rgba(253, 167, 167, 0.5);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);    
}
.preloader-content-logoutwarn .custom-logoutwarn-timer{
    color: white;
    font-size:1.5rem;
}
.preloader-error.active{
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);    
    color: #ffbcbc;
    border: 2px solid rgba(255, 103, 103, 1);
    background: rgba(20, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 40px 10px rgba(255, 167, 167, 0.8);
    -moz-box-shadow: 0px 0px 40px 10px rgba(255, 167, 167, 0.8);
    box-shadow: 0px 0px 40px 10px rgba(255, 167, 167, 0.8);
}
.preloader-username{
    color: aliceblue;
    margin-bottom:5px;
}
/* END PRELOADER STYLE */

/* BEGIN HIDE UNWANTED TEMPLATE COMPONENTS */
.page-header.navbar .menu-toggler.sidebar-toggler,.theme-panel,.quick-nav,.custom-speedicon,.custom-title-notification {
	display: none;
}
/* END HIDE UNWANTED TEMPLATE COMPONENTS */

/* BEGIN RE-CALIBRATE MARGINS */
.page-header.navbar .page-logo .logo-default {
    margin: 5px 0 0;
}
/* END RE-CALIBRATE MARGINS */

/* BEGIN AESTHETICS */
body, h1, h2, h3, h4, h5, h6,.dropdown-menu,.btn,button,label {
    font-family: Poppins;
}
.custom-toggle-portlet-panel,.custom-event-click{
    cursor: pointer;
}
.custom-speedicon{
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px !important;
}
.custom-title-notification{
    margin-right: 10px;
}
/* CUSTOM SCROLLBARS */
::-webkit-scrollbar {
    width: 10px;
    height:10px;
}  
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #cecece;
    border-radius: 0;
    box-shadow: none;
    border: 0;    
}  
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    border: 0;     
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
} 
/* CUSTOM SCROLLBARS */

.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
    -webkit-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.4);
}
.portlet.light.bordered {
    border: 1px solid #CCCCCC !important;
    -webkit-transition: -webkit-box-shadow 0.5s, border 0.5s;
    -webkit-transition: -moz-box-shadow 0.5s, border 0.5s;
    -webkit-transition: box-shadow 0.5s, border 0.5s;
    transition: -webkit-box-shadow 0.5s, border 0.5s;
    transition: -moz-box-shadow 0.5s, border 0.5s;
    transition: box-shadow 0.5s, border 0.5s;    
}
.portlet.light.bordered:hover {
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 117, 255, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 117, 255, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 117, 255, 0.2);
}
.portlet.light {
    border: 1px solid #ddd !important;
}
a{ 
    -webkit-transition: color 0.3s, text-decoration 0.3s;
    transition: color 0.3s, text-decoration 0.3s;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    padding: 0.7rem 1.1rem 0.7rem;
}

/* AMCHARTS */
.amcharts-export-menu .export-main > a, .amcharts-export-menu .export-drawing > a, .amcharts-export-menu .export-delayed-capturing > a {
    width: 26px;
    height: 26px;
}
.amcharts-graph-column-front,.amcharts-pie-slice,.amcharts-graph-column-element {
    stroke: #CCCCCC;
    -webkit-transition: all .3s .3s ease-out;
    transition: all .3s .3s ease-out; 
}
.amcharts-graph-column-front:hover,.amcharts-pie-slice:hover {
    fill: #333333;
    stroke: #000000;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; 
}
.amcharts-pie-slice{
    stroke: #FFF;
    stroke-opacity: 0.5;
}
.amcharts-legend-marker{
    fill-opacity: 1;
    stroke: "#000000";
}
.amcharts-legend-div {
    overflow-y: auto!important;
    max-height: 40vh;
}
/* OPACITY AREA*/
.amcharts-graph-fill{
    /*fill-opacity: 0.5;*/
}
.amcharts-graph-stroke{
    fill-opacity: 0.9;
    stroke-width: 7;    
}
.amcharts-plot-area-left{
    fill-opacity: 0.4;
}
.amcharts-axis-grid{
    stroke-opacity: 0.3;
}
.amcharts-graph-bullet{
    fill: white;
    stroke: black;
    stroke-opacity: 1;
    r: 4;
}
/* AMCHARTS */

/* BUTTONS */
.btn.btn-outline.blue {
    border-color: royalblue;
    color: royalblue;
    background-color: white;
}
.btn.btn-outline.blue.active, .btn.btn-outline.blue:active, .btn.btn-outline.blue:active:focus, .btn.btn-outline.blue:active:hover, .btn.btn-outline.blue:focus, .btn.btn-outline.blue:hover {
    color: #FFF;
    background-color: royalblue;
}
.btn.btn-outline.dark {
    color: dimgray;
    background-color: white;
}
.btn.btn-outline.dark.active, .btn.btn-outline.dark:active, .btn.btn-outline.dark:active:focus, .btn.btn-outline.dark:active:hover, .btn.btn-outline.dark:focus, .btn.btn-outline.dark:hover {
    background-color: dimgray;
}
.btn.btn-outline.red {
    background-color: white;
}
.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
    background-color: crimson;
}
.btn.btn-outline.orange {
    border-color: darkorange;
    color: darkorange;
    background-color: white;
}
.btn.btn-outline.orange.active, .btn.btn-outline.orange:active, .btn.btn-outline.orange:active:focus, .btn.btn-outline.orange:active:hover, .btn.btn-outline.orange:focus, .btn.btn-outline.orange:hover {
    color: #FFF;
    background-color: darkorange;
}
.btn.btn-outline.green {
    border-color: green;
    color: green;
    background-color: white;
}
.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover {
    color: #FFF;
    background-color: green;
}
/* END AESTHETICS */

/* BEGIN CUSTOM CSS */

/* BEGIN DROPDOWN ICONS */
.bootstrap-select.btn-group .dropdown-menu li {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
}
.bootstrap-select.btn-group .dropdown-menu li:hover,.bootstrap-select.btn-group .dropdown-menu li.selected:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.custom-selectpicker-icon{
    border: 1px solid #555;    
    width: 25px;
    margin-right: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
/* END DROPDOWN ICONS */

/* BEGIN p SETTINGS */
.small-p{
    margin: 5px;
}
/* END p SETTINGS */

/* BEGIN FOOTER ICON */
.custom-footer-icon{
    width: 25px;
    margin-bottom: 3px;
}
/* END FOOTER ICON */

/* BEGIN JQUERY UI DRAGGABLE */
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-sortable-placeholder {
    border: 1px dotted grey;
    margin: 0 1em 1em 0;
    height: 100px;
}
.portlet-sortable-empty {
    box-shadow: none!important;
    height: 45px;
}
.custom-draggable-cursor{
    cursor: move;
}
.portlet-sortable-placeholder {
  border: 2px dashed #eee;
  margin-bottom: 25px; 
}
/* BEGIN JQUERY UI DRAGGABLE */

/* BEGIN ENTERPRISE SEARCH */
.custom-enterprise-search{
    width: 260px;
    height: 28px;
    padding-left: 27px;
    padding-right: 5px;
    border: 1px solid #CCC;
    margin-top: 2px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,127,80,0.3);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,127,80,0.3);
    box-shadow: 0px 0px 0px 1px rgba(255,127,80,0.3);    
}
.custom-enterprise-search:hover{
    -webkit-box-shadow: 0px 0px 0px 1px rgba(220,20,60,0.3);
    -moz-box-shadow: 0px 0px 0px 1px rgba(220,20,60,0.3);
    box-shadow: 0px 0px 0px 1px rgba(220,20,60,0.3);
}
.custom-enterprise-search-logo{
    margin-right: -28px;
    position: relative;    
}
/* END ENTERPRISE SEARCH */

/* BEGIN CUSTOM BADGE */
.custom-badge-orangered {
    background-color: orangered;
}
.badge-danger {
    background-color: red;
}
.badge-info a, .badge-primary a{
    color: whitesmoke;
    font-family: sans-serif !important;
}
.badge-info a:hover, .badge-primary a:hover {
    color: yellow;
    font-family: sans-serif !important;
}
/* END CUSTOM BADGE */

/* BEGIN MODAL */
body.modal-open { 
  overflow-y: hidden !important;
}

.custom-flex-modal-header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #2b3643;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !important;
}
.custom-modal-header-icon {
    height: 2.5rem;
    margin: 0.6rem 0.6rem;
}
.custom-modal-header-icon:hover {
    cursor: move;
}
.custom-modal-title{
    color: #DDD;
}
.custom-modal-close-button,.custom-modal-expand-button,.custom-modal-balance-button {
    background-color: #555;
    border: 1px solid #888;
    display: inline-block;
    cursor: pointer;
    color: #ccc;
    /*margin: 0px 1rem;*/
    margin: 0px 1rem 0px 5px;
    padding: 3px 8px;
    font-weight: bold;
}
.custom-modal-close-button:hover,.custom-modal-expand-button:hover,.custom-modal-balance-button:hover {
    color: white;
    background-color: black;
    border: 1px solid #fff;
}
.custom-modal-expand-button,.custom-modal-balance-button{
    margin: 0px 0px 0px 5px;
}

.custom-modal-portlet-box{
    margin-bottom: 10px;
}
.custom-modal-footer {
    padding: 0px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
}
.custom-modal-footer img{
    height: 20px;
    margin-bottom: 2px;    
}
#fullscreen_div_list_modal .amcharts-legend-div {
    max-height:70vh !important;
}
/* END MODAL */

/* BEGIN SIDEBAR ACCORDION */
.custom-panel-group{
    margin: 10px 15px 10px 10px;
}
.custom-panel-group p {
    text-align: right;
    margin: 0px 0px 10px 0px;
}
.custom-switch,.panel-group .panel{
    margin-bottom: 10px;    
    background-color: #eee;    
}
.panel-group .panel{
    border: 1px solid #888;
}    
.custom-switch:hover{
    background-color: #fff;    
}
.custom-switch>span{
    margin-right: 5px;    
    color: #555;
}
h4.panel-title{
    background-color: #666;    
}
/* END SIDEBAR ACCORDION */

/* BEGIN CUSTOM ANIMATION */
.faa-parent.animated-hover:hover>.faa-ring, .faa-ring.animated, .faa-ring.animated-hover:hover {
    -webkit-animation: ring 2s ease infinite;
    animation: ring 2s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0;
    transform-origin-z: initial;
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    2% {
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    4% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    6% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg);
    }
    8% {
        -webkit-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
        transform: rotate(-22deg);
    }
    10% {
        -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
        transform: rotate(22deg);
    }
    12% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    14% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg);
    }
    16% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg);
    }
    18% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    100%, 20% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }    
}

.faa-flash.animated, .faa-flash.animated-hover:hover, .faa-parent.animated-hover:hover>.faa-flash {
    -webkit-animation: flash 2s ease infinite;
    animation: flash 2s ease infinite;
}

@keyframes flash {
    0%, 100%, 50% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }    
}
/* END CUSTOM ANIMATION */

/* FROM V5 */
.m-subheader {
    padding: 0px 5px 15px 5px
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.mr-auto {
    margin-right: auto !important;
}
.m-subheader .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-weight: 200;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #3f4047;
}    
/* END FROM V5 */

/* BEGIN DATATABLES CSS */
div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    z-index: 10999;
}
ul.dt-button-collection.dropdown-menu {
    z-index: 15000;
    background-color: #ccc;
    box-shadow: 17px 20px 20px 2px rgba(0,0,0,0.3);
    font-family: inherit;
    border: darkgrey 3px dotted;
    padding: 3px;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;    
}
ul.dt-button-collection.dropdown-menu>li>a {
    border: 1px dotted #fff;
    color: #555;
}
ul.dt-button-collection.dropdown-menu>li.active>a{
    border: 1px dotted #ddd;
    background-color: white;
    color:#555;
}
ul.dt-button-collection.dropdown-menu>li.active:hover>a{
    background-color: whitesmoke;
    color:#555;
}
ul.dt-button-collection.dropdown-menu>.active>a:focus{
    background-color: white;
    color:#555;
}
.custom-dt-btn-info {
    margin-right: 3px;
    padding: 5px 10px;
    line-height: 1.5;    
}
.table.table-bordered thead > tr > th {
    background-color: cornflowerblue;
    color: whitesmoke;
    text-transform: uppercase;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: ghostwhite;
}
.dt-buttons.btn-group{
    display: inherit;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 5px 0px 0px;
}
/*
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0px;
}
*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: darkgrey;
    border-color: #ddd;
}
.page-bar .page-breadcrumb {
    padding: 10px;
}

div.dataTables_wrapper div.dataTables_processing {
    color: #333;
}
.custom-datatables-portlet .portlet.light .custom-content-area{
    border: 0px solid black !important;
}
.custom-datatables-portlet .content-fullscreen .dataTables_scroll {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.portlet.light.bordered:hover .custom-content-datatable-area{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.custom-content-datatable-area div.dataTables_wrapper div.dataTables_info {
    margin-top: 10px;
}
div.dt-button-info {
    color: dimgray;
    z-index: 12000;
}
div.dataTables_wrapper div.dataTables_length select{
    width: auto;
}
/* END DATATABLES CSS */
/* START AUTOCOMPLETE */
.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
    cursor:pointer;
    padding: 5px;
    -webkit-box-shadow: 5px 7px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 7px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 7px 3px 0px rgba(0, 0, 0, 0.2);
}
.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF;  
    cursor:pointer;
    text-decoration:underline;
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    cursor:pointer;
    line-height: 20px; 
}
.autocomplete-selected { 
    background: #F0F0F0;  
    cursor:pointer;
}
.autocomplete-input {
    width: 300px;
    height:28px;
    padding-left:27px;
    padding-right:5px;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    border: 1px solid #999;    
}
/* END AUTOCOMPLETE */
/* GOOGLE MAP */
#generic_gmsplit_list_body{
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}
#generic_gmsplit_list_body_map, #generic_gmsplit_list_body_pano {
    float: left;
    height: 100%;
}
/*END GOOGLE MAP */

/*BEGIN FORMS*/
.md-radio label>.check {
    background: orange;
}
.custom-postload-reset{
    margin-top: 5px;
}
.btn-warning {
    background-color: darkorange;
    border-color: #555;
}
.btn-warning:focus, .btn-warning.focus {
    background-color: darkorange;
}
.btn-warning:hover {
    background-color: orange;
}
.btn-warning:active, .btn-warning.active{
    background-color: darkorange;
}
.modal, .modal-scrollable {
    z-index: 11000;
}
.custom-form-mainbuttons{
    text-align: right;
    margin-top:5px;
}
.custom-filtertext-container {
    margin: 10px;
    padding: 10px;
    border: 1px dotted #ccc;
    background-color: ghostwhite;
    color: #333;
}
.custom-filtertext-label{
    margin-top:5px;
}
.custom-filtertext-title{
    font-weight: 500;
    color: chocolate;
}
/*END FORMS*/

/*REWORKED ON FONTS VISIBILITY */
/*FONT WEIGHT 400*/
.parliament-stream-item-header h4,#overlayer .overlay-header,#overlayer .overlay-header h4,#spr-profile-title h4,.custom-modal-pruheader-table h5,.custom-jumbotron-dh,.custom-jumbotron-dh h2,.custom-legend-container-map,.custom-progressbar-container-map,.progress-bar,.select2-container--bootstrap .select2-selection, .select2-container,.amcharts-label,.amcharts-balloon-div,.amcharts-pie-label,.amcharts-graph-label,.amcharts-axis-label,.amcharts-axis-title,.table.table-bordered tbody > tr > td,.label.label-sm,.custom-redirect-label,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate ul.pagination,.panel-title,.custom-click-reset-analysis-chart,#custom_chart_pru_analysis_list,table.dataTable tbody tr td a, .custom-modal-footer a,.top-notification-text h5,.bootstrap-select.btn-group .dropdown-menu li a,span.username,.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a,.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3,.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a,.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username,.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge,.custom-title-notification,.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span, .bootstrap-select.btn-group .dropdown-menu.inner,ul.dt-button-collection.dropdown-menu>li>a {
    font-weight: 400 !important;
}

.table.table-bordered tbody > tr > td,.table tbody > tr > td,table.dataTable tbody tr td a,.custom-progressbar-container-map,#custom_chart_pru_analysis_list,.custom-legend-container-map,.bootstrap-select.btn-group .dropdown-menu.inner{
    font-weight: 700 !important;
    font-family: sans-serif;
}
/*END REWORKED ON FONTS VISIBILITY */

.custom-loading-label-dh,.custom-nodata-label-dh{
    display: inline-block;
    padding: 10px;
    margin: 15px;
    border: 2px solid crimson;
    background-color: black;
}
.custom-nodata-label-dh{
    border-color: black;
    background-color: crimson;
}    
.custom-filter-area .well,.custom-form-area .well{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

/* FULLSCREEN DEFAULT */
.chart-fullscreen{
    height: 50vh;
}
.map-fullscreen{
    height: 55vh;
}
/* FULLSCREEN MODE IS CAUSING DESIGN ISSUE FOR CHARTS - HIDE FOR NOW */
.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen{
    display: none;
}
/* EXCEPT FOR MAP PORTLET */
.custom-map-portlet .portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen{
    display: inline-block;
}
/* FULLSCREEN DEFAULT */

/* SWAL2 FIX */
.swal2-popup {
    padding: 1em 3em !important;
    width: unset !important;
    border-radius: .3125em !important;
    border: 2px solid black !important;
    -webkit-box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.6);
}
.swal2-icon {
    border-radius: 50% !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line]{
    background-color: darkgreen !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid darkgreen !important;
    border-radius: 50% !important;
}
.swal2-icon.swal2-warning {
    border-color: darkorange !important;
    color: darkorange !important;
}
.swal2-icon.swal2-error {
    border-color: red !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: red;
}
.swal2-icon.swal2-info {
    border-color: darkslateblue !important;
    color: darkslateblue !important;
}
.swal2-popup .swal2-content {
    color: #000 !important;
 }
.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #333 !important;
}
.swal2-container{
    z-index: 13060 !important;
}
/* SWAL2 FIX */

/* ADDITIONAL FIX */
.panel-heading {
    /*padding: 5px 15px;*/
    padding: 0.35rem 15px;
 }
#fullscreen_div_list_modal .modal-body{
     background-color: #FFF;
}
.custom-modal-portlet-body {
    border: 1px solid #aaa;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 5px 5px 0px;
    max-height: 80vh;
    overflow: auto;    
}
.custom-panel-content .panel-heading h5{
    display: inline-block;
    font-weight:400;
}
.custom-panel-content .panel-heading .btn-icon-only{
    height: 26px;
    width: 26px;
    padding: 2px 0px 0px;
    float: right;
    margin-top: 4px;
    margin-right: 2px;   
}
.portlet.light.custom-content-datatable-area{
    margin-bottom: 20px !important;
}
.custom-filter-section .panel-body{
    color: black;
    /*
    height: 130px;
    overflow: auto;    
    */
}
.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a{
    color: red;
}
span.username{
    text-transform: uppercase;
}
.btn.yellow-casablanca:not(.btn-outline) {
    background-color: orangered;
}
.custom-filter-brightness-low{
    filter: brightness(70%);
}
#fullscreen_div_list_body{
    height: 75vh;
}
.tooltip-inner{
    white-space: wrap;
    text-align: left !important;
}
.custom-footer-privacy-policy{
    cursor: pointer;
    margin-right:10px;
}
#privacy_policy_body{
    height: 70vh;
    overflow-y:auto;
    color: black;
}
#privacy_policy_body .jumbotron{
    background: rgba(245, 245, 245, 0.5) url(../../../assets/global/img/pattern/debut-light.png) repeat top left;    
    padding-top: 30px;
    padding-bottom: 30px;
}
#privacy_policy_body .jumbotron p{
    margin-bottom: 5px;
}
#privacy_policy_body .jumbotron p.title{
    font-weight:400;
}
.custom-modal-feedback-body{
    background: rgba(245, 245, 245, 0.5) url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}
.leaflet-popup-content{
    max-width: 300px !important;
}
/* REDUCE DEFAULT FORM-CONTROL HEIGHT FROM 34PX to 30PX for AESTHETICS*/
.form-control{
    height: 32px !important;
    padding: 0px 8px 1px;
}
/* GENERAL STYLE*/
.general-panel-title{
    background-color: cornflowerblue;
    color: whitesmoke;
    border: 1px solid dimgray;
}
/* DASHBOARD STAT */
.dashboard-stat .details {
    position: inherit;
}
/* GENERAL COLORS */
.dashboard-stat.blue {
    background-color: #1276bb;
}
.dashboard-stat.red {
    background-color: #a7040f;
}
.dashboard-stat.green {
    background-color: #09747d;
}
.dashboard-stat.purple {
    background-color: #740d9e;
}
a:hover, .panel-heading .panel-title a:hover {
    color: orangered;
    text-decoration: none;
}
.page-footer a{
    color: cadetblue;
}
.page-footer a:hover,.panel-heading a:hover {
    color: orangered;
}
.panel-heading .panel-title a:hover {
    color: orange;
}    
.font-dark {
    color: #333 !important;
    font-weight: 400;
}
.portlet.light>.portlet-title>.actions .btn-default {
    color: #888;
}
.page-bar {
    background-color: rgba(0,0,0,0.1);
}
.page-footer {
    background-color: #333;
}
.text-muted {
    color: #999;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs>li>a{
    text-align:left
}
.text-success {
    color: seagreen;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background: #888;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    color: aliceblue;
}
.label-info {
    background-color: dodgerblue;
}
.label-success {
    background-color: green;
}
.label-danger {
    background-color: crimson;
}
.label-warning {
    background-color: orange;
}
.label-default {
    background-color: dimgray;
}
.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid gray;
}
.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    border-bottom: 4px solid dodgerblue;
}

/* INDIVIDUAL MODULES */
.form-wizard .steps>li>a.step>.desc, .form-wizard .steps>li>a.step>.number{
    font-weight: inherit;
}

.nowrap{
    white-space: nowrap;
}

/* VISUAL FIX WHEN FORM VALID MAKE CALENDAR ICON GO TO MIDDLE */
.bs-datetime .input-group-addon {
    border-right: 0;
    border-bottom: 0;
    vertical-align: top;
}