.portlet>.portlet-title>.caption {
    font-size: 1.2rem;
}
.panel-title {
    font-size: 1.1rem;
}
.table th {
    font-size: 0.9rem !important;
    background-color: #333;
    color: white;
    padding: 5px;    
}
#generator_table_preview_body td{
    text-transform: uppercase !important;
}
h5{
    font-weight:400;
}
#generator_editor_json{
    height: 150px; 
    overflow:auto; 
    display:none;
}
.generator-sample-preview,.generator-field-selection{
    overflow:auto;
}
#generator_table_fieldselect_body td{
    font-size: 1rem !important;
}
.generator-select-chart{
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;    
    /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/
}
.generator-select-chart-icons{
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.generator-select-chart-icons:hover{
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
    cursor: pointer;
}
.generator-img-wrapper{
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
    margin: 0px 1px;
}
.generator-display-chart-container,.generator-display-datatable-container,.generator-display-mapgen-container,.generator-display-grid-container{
    display: none;
}
.generator-display-chart-flex,.generator-display-mapgen-flex,.generator-display-grid-flex{
    display: flex;
}
.generator-display-chart,.generator-display-datatable,.generator-display-grid{
    margin: 15px 0px 15px 0px;
    padding: 0px 20px;
    overflow: scroll;
}
.generator-display-mapgen{
    width: 100%;
}    

/*GRID*/
.generator-display-grid-options{
    padding:10px; 
    /*margin:10px;*/ 
    margin-bottom:15px; 
    border:1px solid gray; 
    background:rgba(245, 245, 245, 0.5) url(../../../assets/global/img/pattern/debut-light.png) repeat top left; 
    transition: 0.3s all linear;
    display:none;    
}
.generator-display-grid-options:hover{
    background:white url(../../../assets/global/img/pattern/debut-light.png) repeat top left; 
    box-shadow:3px 3px 5px 0px #ccc; 
}
/*GRID*/

#generator_table_fieldselect td{
    vertical-align: middle;
}
#generator_display_chart_options,.generator_display_mapgen_options,#generator_display_grid_options{
    width: 30%;
    overflow: auto;
    padding: 20px;
    border-right: 1px solid gray;
}
#generator_display_chart_div,#generator_display_grid_div{
    width: 70%;
}
#generator_display_chart_options .input-icon{
    margin: 0px 0px 7px;
}
.has-info .md-radio label>.box, .has-info.md-radio label>.box {
    border-color: #000000;
}
.table.table-bordered tbody > tr > td, .table tbody > tr > td, table.dataTable tbody tr td a, .custom-progressbar-container-map, #custom_chart_pru_analysis_list, .custom-legend-container-map, .bootstrap-select.btn-group .dropdown-menu.inner{
    font-family: Poppins;
    font-weight: 500 !important;
}
.form-control, output {
    font-size: 1rem;
}
.generator-section-title{
    margin-top: 15px;
}
#generator_color_select_specific_text{
    width: 100px;
    padding: 0px 6px;
    height: 25px;
    font-size: 0.9rem;
}
.generator-submit-options{
    display: flex;
}
.generate-chart-button,.generate-grid-button{
    margin: 20px 5px 0px 0px; 
}
.generate-chart-select-chart{
    display: flex;
    align-items: center;
    width: 100%;
}
.generate-chart-select-proceed{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.generator-confirm-publish{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /*flex-wrap: wrap;*/
}
.generator-confirm-properties{
    display: flex;
    width: 100%;
}
.generator-confirm-submit{
    display: flex;
    justify-content: flex-end;
    /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly*/
    width: 5%;
}
.generator-confirm-properties div, .generator-confirm-submit div{
    padding-right: 5px;
}
.custom-postload-options{
    width: 300px;
}
.generator-confirm-text{
    height: 31px;
}

.generator-page-main .portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.generator-page-main .portlet.light>.portlet-title {
    min-height: 0px;
}
.custom-postload-reset {
    margin-top: 0px;
}

/*ACCORDIONS*/
.accordion .panel .panel-title .accordion-toggle{
    background-color: #333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;    
    color: azure;
}
.accordion .panel .panel-title .accordion-toggle:hover{
    color: lightskyblue;
}
.waiting{
    background-color: #004d82 !important;
}
.progress{
    background-color: darkblue !important;
}
.passed{
    background-color: #004a00 !important;
}
.failed{
    background-color: #4b000e  !important;
}
/*ACCORDIONS*/

/* CHART ANIMATION */
.generator-chart-animation{
    cursor: pointer;
}
.generator-chart-animation-enable{
    filter: opacity(100%);
}
.generator-chart-animation-disable{
    filter: opacity(40%);
}
.generator-main-select button{
    font-size: 0.9rem;
}
.bootstrap-tagsinput .tag {
    font-size: 0.9rem;
}
/*AMCHARTS*/
/*
.amcharts-graph-label{
    font-weight: bold !important;
    font-size: 1rem;
}
*/
/*AMCHARTS*/

/* OTHERS */
.generator-menu-panel{
    display:flex; 
    justify-content:flex-end;
    margin-right:22px;
    padding-top:15px;
}
.generator-menu-panel-items{
    margin-left: 5px; 
    display:none;    
}
.generator-portlet{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.generator-color-array{
    display:flex; 
    width: 100%;
    justify-content: space-between;
}
.btn.generator-display-grid-menu{
    background-color: #999;
    color: aliceblue;
}
.btn.generator-display-grid-menu:hover{
    background-color: red;
    color: aliceblue;
}
.generator-grid-option-title{
    margin:10px 0px;
    color: black;
}
.generator-grid-maintitle{
    font-family:fantasy;
}
/* MAPGEN */
.generator-mapgen-option-title{
    margin: 10px 0px;
    color: dimgray;
    font-size: 1rem;    
    flex: auto;
}

.generator-display-chart,.generator-display-datatable,.generator-display-grid,.generator-display-mapgen,#generator_display_chart_options,.generator_display_mapgen_options,#generator_display_grid_options{
    height: 55vh;
}

.generator-display-container .panel-body{
    padding: 2px;
    border-top: 0px;
}

.custom-form-mainbuttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap:wrap;
}
.custom-form-mainbuttons div{
    margin-right: 5px;
}

.custom-postload-reset{
    border: 1px solid gray;
}
.custom-postload-options{
    margin-right: 0px !important;
}
textarea.form-control {
    height: auto !important;
}

/* FIXED DEFECTS RAISED ON BUTTONS ALIGNMENT*/
.generator-confirm-properties,.generator-confirm-submit {
    width: fit-content;
}

.md-radio-inline .md-radio {
    margin-right: 10px;
}
.md-radio label {
    padding-left: 25px;
}

.popover-title {
    background-color: black;
    font-weight: 400;
    border-radius: unset;
    border: 1px solid white;
}
.popover-content {
    color: dimgray;
}
