.dropdown.dropdown-quick-sidebar-toggler{
    display:none !important;
}
.panel-default>.panel-heading, .panel-primary>.panel-heading, .table.table-bordered thead > tr > th, .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background-color: cornflowerblue !important;
}
table.dataTable.no-footer {
    border-color: #CCCCCC;
}
.custom-modal-header{
    background-color: black;
}
.custom-modal-close-button {
    margin: 1rem 1rem;
}
.custom-modal-title{
    line-height: 1.42857143;
    margin-top: -50px;
    color: #DDD;
    font-size: 14px;
    text-align: center;
    margin-right: 20px;
}
.table.table-bordered tbody > tr > td, .table tbody > tr > td, table.dataTable tbody tr td a{
    font-weight: inherit !important;
    font-family: inherit;
}
.datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th {
    font-family: 'Poppins'!important; 
}
.page-bar .page-toolbar {
    display: none;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background: #02111d url(../../../assets/global/img/pattern/fabric-1-dark.png) repeat top left;
}
body {
    background: #02111d url(../../../assets/global/img/pattern/fabric-1-dark.png) repeat top left;
}
.page-sidebar .page-sidebar-menu>li.heading>h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    color: ghostwhite;
}
.dashboard-stat {
    transition: all 0.2s linear;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 0px #777;
}
.dashboard-stat:hover {
    box-shadow: 3px 5px 15px 0px #777;
    /*filter: hue-rotate(30deg);*/
    border: 1px solid white;
    transform: scaleX(1.03) scaleY(1.03);
}
.dashboard-stat .details {
    position: inherit;
}
.dashboard-stat.blue {
    background-color: #1276bb;
}
.dashboard-stat.red {
    background-color: #a7040f;
}
.dashboard-stat.green {
    background-color: #09747d;
}
.dashboard-stat.purple {
    background-color: #740d9e;
}
.label a i{
    color: lightblue;
}
.label a i:hover{
    color: orange;
}

.progress-bar-success {
    background-color: #1081ce;
    box-shadow: 2px 0px 12px 0px #777;
}
.form-wizard .steps>li.active>a.step .number {
    background-color: #1081ce;
    box-shadow: 2px 2px 9px 0px #777;
    border: 1px solid white;
}
.form-wizard .steps>li.done>a.step .number {
    background-color: #00942c;
    box-shadow: 2px 2px 9px 0px #777;
    border: 1px solid white;
}

/* SIDEBAR BADGE */
.page-sidebar .page-sidebar-menu li>a>.badge, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.badge {
    float: unset;
    margin-top: 1px;
    margin-right: 0;
    position: absolute;
    right: unset;
    top: 6px;
    margin-left: 5px;
} 

/***
Fullcalendar Copied from plugins.css
***/
/* External events */
.external-event {
    display: inline-block;
    cursor: move;
    margin-bottom: 5px;
    margin-left: 5px; 
}
  
.fc-scroller {
    overflow-y: auto;
    overflow-x: hidden; 
}
  
.fc-month-view .fc-scroller {
    height: auto !important; 
}
  
.portlet .event-form-title {
    font-size: 16px;
    margin-top: 4px;
    font-weight: 400;
    margin-bottom: 10px; 
}
  
.portlet.calendar .fc-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    height: 35px;
    padding: 5px 8px 8px 8px;
    margin-left: 2px;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-left-style: solid;
    border-color: #ddd;
    background: transparent;
    color: #fff;
    top: -48px;
    outline: none !important;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; 
}
  
.portlet.calendar .fc-toolbar {
    margin-bottom: 0px; 
}
.portlet.calendar .fc-toolbar h2 {
    margin-top: 3px;
    font-size: 17px; 
}
.portlet.calendar .fc-header {
    margin-bottom: -21px; 
}
.portlet.calendar .fc-button-prev {
    padding-right: 10px;
    padding-left: 8px; 
}
.portlet.calendar .fc-button-next {
    padding-right: 8px;
    padding-left: 10px; 
}
.portlet.calendar .fc-button .fc-icon {
    height: 20px;
    top: -5px; 
}
.portlet.calendar .fc-button.fc-state-active, .portlet.calendar .fc-button.fc-state-hover {
    color: #666;
    background-color: #fff; 
}
.portlet.calendar .fc-button.fc-state-disabled {
    color: #ddd; 
}
.portlet.calendar .fc-button .fc-icon-left-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px; 
}
.portlet.calendar .fc-button .fc-icon-left-single-arrow:after {
    content: "";
    margin: 0; 
}
.portlet.calendar .fc-button .fc-icon-left-single-arrow:before {
    content: "\f104"; 
}
.portlet.calendar .fc-button .fc-icon-right-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px; 
}
.portlet.calendar .fc-button .fc-icon-right-single-arrow:after {
    margin: 0;
    content: "";
}
.portlet.calendar .fc-button .fc-icon-right-single-arrow:before {
    content: "\f105"; 
}
.portlet.calendar .fc-text-arrow {
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline; 
}
.portlet.calendar .fc-event {
    border: 0px;
    background-color: #69a4e0;
    color: #fff; 
}
.portlet.calendar .fc-event .fc-content {
      border: 0px;
      padding: 5px 7px; 
}
.portlet.calendar .fc-event .fc-time {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px; 
}
.portlet.calendar .fc-event .fc-title {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300; 
}  
.portlet.calendar .fc-header-title h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111; 
}  
.portlet.calendar .fc-widget-header {
    background-image: none;
    filter: none;
    background-color: #eee;
    text-transform: uppercase;
    font-weight: 400; 
}
.portlet.calendar.light .fc-button {
    top: -60px;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 35px; 
}
.portlet.calendar.light .fc-button .fc-text-arrow {
    margin-top: -6px;
    display: inline-block; 
}
.portlet.calendar.light .fc-button.fc-state-active, .portlet.calendar.light .fc-button.fc-state-hover {
    color: #333;
    border-bottom: 2px solid #36c6d3; 
}
.portlet.calendar.light .fc-button.fc-state-disabled {
    color: #aaa; 
}
.portlet.calendar .mobile .fc-button {
    padding: 0px 6px 20px 6px;
    margin-left: 2px;
    border: 0;
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    text-shadow: none;
    text-align: center; 
}
.portlet.calendar .mobile .fc-button.fc-state-hover, .portlet.calendar .mobile .fc-button.fc-state-active {
    background-color: #eee; 
}
.portlet.calendar .mobile .fc-button.fc-state-disabled {
    color: #bbb; 
}
  
.portlet.calendar .mobile .fc-button-prev {
    margin-right: 5px;
    margin-top: -2px; 
}
  
.portlet.calendar .mobile .fc-button-next {
    margin-right: -0px;
    margin-top: -2px; 
}
  
.portlet.calendar .mobile .fc-header-space {
    margin: 0px;
    padding: 0px;
    width: 0px; 
}
  
.portlet.calendar .mobile .fc-header-left {
    position: absolute;
    z-index: 10; 
}
.portlet.calendar .mobile .fc-header-left .fc-button {
    top: -2px; 
}
  
.portlet.calendar .mobile .fc-header-right {
    position: relative;
    right: 0; 
}
.portlet.calendar .mobile .fc-header-right .fc-button {
    top: 35px; 
}  
.portlet.calendar .mobile .fc-content {
    margin-top: 53px; 
}

/* SIDEBAR SELECTED */
.nav-item .title.selected,.nav-item i.selected{
    color: whitesmoke !important;
}

/*TEMPORARY HIDDEN FOR MODULES */
.custom-footer-privacy-policy{
    display: none;
}