.filter-option{
    font-size: 0.9rem;
}
.custom-report-button{
    margin-top: 6px;
}
.generator-main-select button {
    font-size: 0.9rem;
}
.generator-confirm-text {
    height: 31px;
}
.custom-postload-reset {
    margin-top: 0px;
}
.custom-form-mainbuttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap:wrap;
}
.custom-form-mainbuttons div{
    margin-right: 5px;
}