/* RESPONSIVE MANIPULATIONS */

/* FONT SIZE */
.preloader-username{
    font-size: 1.4rem;
}
.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span,.bootstrap-select.btn-group .dropdown-menu.inner {
    font-size: 0.95rem;
}
.page-footer {
    font-size: 0.9rem;
}
.portlet.light>.portlet-title>.caption>.caption-subject,.portlet.light>.portlet-title>.caption>.caption-customize-subject {
    font-size: 1.1rem;
}
.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled {
    font-size: 1rem;
}
.amcharts-export-menu, .amcharts-export-canvas .canvas-container {
    font-size: 0.9rem;
}
.custom-title-notification{
    font-size: 0.9rem;
}
.custom-modal-close-button,.custom-modal-expand-button,.custom-modal-balance-button {
    font-size: 0.79rem;
}
.custom-modal-footer {
    font-size: 0.8rem;
}
.table.table-bordered thead > tr > th {
    font-size: 0.9rem;
}
.table.table-bordered tbody > tr > td {
    font-size: 0.9rem;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    font-size: 0.9rem;
}
div.dataTables_wrapper div.dataTables_filter {
    font-size: 0.9rem;
}
div.dataTables_wrapper div.dataTables_info {
    font-size: 0.86rem;
}
div.dataTables_wrapper div.dataTables_length {
    font-size: 0.9rem;
}
.autocomplete-suggestion { 
    font-size: 0.8rem;
}
.autocomplete-suggestion .label-autocomplete{ 
    font-size: 0.86rem;
}
.custom-filtertext-label{
    font-size: 0.9rem;
}
.custom-filtertext-title{
    font-size: 1.1rem;
}
.custom-postload-options button{
    font-size: 0.9rem;
}
.custom-loading-label-dh{
    font-size: 0.9rem;
}
.swal2-popup .swal2-title {
    font-size: 1.4rem !important;
}
.custom-modal-title{
    font-size: 1.1rem;
}
.custom-dt-btn-info {
    font-size: 0.86rem;
}
h5 {
    font-size: 1rem;
}
/* FONT SIZE */

@media print {
}

@media (min-width: 768px)  {
    html {
        font-size: 13px;
    }
    
    .display-show-desktop{
		display:""!important;
	}

	.display-hide-desktop{
		display: none!important;
	}	
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 992px) {	
}   

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 13px;
    }
    .preloader-content {
        width: 400px;
        padding: 20px;
    }    

	.display-show-tablet{
		display:""!important;
	}

	.display-hide-tablet{
		display: none!important;
	}    
}

@media (max-width: 767px) {
    html {
        font-size: 11px;
    }
    .preloader-content {
        padding: 20px;
    } 
    /* 
    .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span, .bootstrap-select.btn-group .dropdown-menu.inner,.bootstrap-select.btn-group .dropdown-toggle .filter-option,div.dataTables_wrapper div.dataTables_filter,.paging_full_numbers, .table.table-bordered tbody > tr > td,.table.table-bordered thead > tr > th {
        font-size: 12px;
    } 
    */
    .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span, .bootstrap-select.btn-group .dropdown-menu.inner,.bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-size: 12px;
    } 
    .custom-dt-btn-info {
        font-size: 10px;
    }
    h3 {
        font-size: 20px;
    }   
    ul.dt-button-collection.dropdown-menu{
        font-size: 12px;
    }
    .leaflet-container .leaflet-control-attribution {
        display: none;
    }        	        
}   

@media (min-width: 581px) and (max-width: 767px) { 
    html {
        font-size: 10px;
    }
    .page-footer,.custom-modal-footer {
	    font-size: 11px;
	}
	.display-show-tablet{
		display:""!important;
	}
	.display-hide-tablet{
		display: none!important;
    }
} 

@media (max-width: 580px) {
    html {
        font-size: 10px;
    }
    
	.page-content-wrapper .page-content .page-title small {
	    display: inline-block;
	    font-size: 12px;
	}

    .page-bar .page-toolbar {
        display: grid;
        float: none;
    }    

    .custom-enterprise-search {
        width: 100%;
    }
    
	.page-footer,.custom-modal-footer {
	    font-size: 11px;
	}	

    .preloader-content {
        width: 300px;
        padding: 10px;
    }
    
	.display-show-mobile{
		display:""!important;
	}

	.display-hide-mobile{
		display: none!important;
    }
    .custom-modal-title {
        margin-left: 10px;
    } 
    .dataTables_filter .input-sm{
        height: 20px;
    }
}

@media (max-width: 480px) {			
}

/* FOR HEIGHT TRACKING */
@media (max-height: 600px) {
    .content-fullscreen {
        min-height: 70vh;
    }
    .page-content-wrapper .page-content {
        padding: 10px 10px 10px!important;
        overflow: hidden;
    }    
    .m-subheader {
        padding: 0px 5px 5px 5px;
    } 
    .portlet {
        margin-bottom: 15px;
    }   
    .portlet>.portlet-title,.custom-modal-portlet-box {
        margin-bottom: 0px !important;
    }   
    .portlet.light>.portlet-title>.caption{
        padding: 0px;
    }   
    .portlet.light>.portlet-title>.actions {
        padding: 0px 0 0px;
    }
    .portlet.light .portlet-body{
        padding-top: 0px;
    } 
    .custom-map-control-panel-topright {
        margin-top: 70px;
    }   
    /* 
    .dt-buttons.btn-group,div.dataTables_wrapper div.dataTables_length,.custom-modal-footer {
        display: none;
    }
    */
    div.dataTables_wrapper div.dataTables_length,.custom-modal-footer {
        display: none;
    }
    .panel {
        margin-bottom: 10px;
    }  
    .panel-body {
        padding: 10px 15px 5px;
    }  
    .modal-body{
        padding: 5px;
    }    
    .portlet.light>.portlet-title{
        min-height: 40px;
    } 
    .portlet.light {
        padding: 15px 15px 5px;
    }
}
@media (max-height: 600px) {
    .generator-display-chart,.generator-display-datatable,.generator-display-grid,.generator-display-mapgen,#generator_display_chart_options,.generator_display_mapgen_options,#generator_display_grid_options{
        height: 70vh;
    }        
}    