.page-header.navbar .menu-toggler.sidebar-toggler {
    display: inline-block;
}

.panel-default > .panel-heading, .panel-primary > .panel-heading, .table.table-bordered thead > tr > th, .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
    background-color: cornflowerblue !important;
}

.custom-modal-title {
    line-height: 1.42857143;
    /*margin-top: -50px;*/
    color: #DDD;
    font-size: 14px;
    text-align: center;
    margin-right: 20px;
}

table.dataTable.no-footer {
    border-color: #CCCCCC;
}

.custom-modal-header {
    background-color: black;
}

.custom-modal-close-button {
    margin: 1rem 1rem;
}

.tabbable-custom > .nav-tabs, .tabbable-custom > .nav-tabs > li.active > a {
    background-color: transparent;
}

.tabbable-custom > .nav-tabs > li > a, .tabbable-custom > .nav-tabs > li.active > a {
    color: #337ab7;
}

.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #ed6b75;
}

.ql-toolbar.ql-snow {
    background-color: lightslategray;
}

.select2-container--open {
    z-index: 15000;
}

.select2-results__group {
    font-size: 14px !important;
}

.select2-results__option {
    font-size: 12px !important;
}

.modal-open .daterangepicker {
    z-index: 15000 !important;
}

.swal2-container {
    z-index: 16000 !important;
}

.error {
    color: red !important;
}

.no-border {
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

div.mce-fullscreen {
    z-index: 1050;
    top: 51px !important;
}

/*
.daterangepicker .applyBtn  {
    display: none !important;
}
.daterangepicker .cancelBtn {
    display: none !important;
}
.daterangepicker .ranges{
    display: none !important;
}
*/
.daterangepicker .calendar, .daterangepicker .ranges, .daterangepicker.single .calendar, .daterangepicker.single .ranges {
    float: none !important
}

.daterangepicker .ranges {
    width: unset;
    text-align: center;
}

.daterangepicker .btn-success {
    background-color: cornflowerblue;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.badge.badge-sm.badge-info {
    border-radius: 5px !important;
}

.btn.btn-xs.btn-primary > a {
    color: whitesmoke;
}

.daterangepicker-sendtoback {
    z-index: -1 !important;
}

.spkms-datepicker-input {
    min-width: 220px !important;
}

.drophere {
    border: 2px lightsalmon dotted;
}

#modal_view_pertemuan .control-label, #modal_view_bicara .control-label, #modal_penghantar_notis .control-label {
    padding-top: 0px;
}

/* POPOVER */
.popover {
    max-width: 500px;
}

.popover-title {
    background-color: black;
    color: white;
}

.popover-content p {
    margin: 5px;
}

.popover-content {
    line-height: 1.5;
}

/***
Fullcalendar Copied from plugins.css
***/
#modal_jadual .event-form-title {
    font-size: 16px;
    margin-top: 4px;
    font-weight: 400;
    margin-bottom: 10px;
}

#modal_jadual .fc-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    height: 35px;
    padding: 5px 8px 8px 8px;
    margin-left: 2px;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-left-style: solid;
    border-color: #ddd;
    background: transparent;
    color: dimgray;
    top: 0px;
    outline: none !important;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#modal_jadual .fc-toolbar {
    margin-bottom: 0px;
}

#modal_jadual .fc-toolbar h2 {
    margin-top: 3px;
    font-size: 17px;
}

#modal_jadual .fc-header {
    margin-bottom: -21px;
}

#modal_jadual .fc-button-prev {
    padding-right: 10px;
    padding-left: 8px;
}

#modal_jadual .fc-button-next {
    padding-right: 8px;
    padding-left: 10px;
}

#modal_jadual .fc-button .fc-icon {
    height: 20px;
    top: -5px;
}

#modal_jadual .fc-button.fc-state-active, #modal_jadual .fc-button.fc-state-hover {
    color: cornflowerblue;
    background-color: #fff;
}

#modal_jadual .fc-button.fc-state-disabled {
    color: #aaa;
}

#modal_jadual .fc-button .fc-icon-left-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
}

#modal_jadual .fc-button .fc-icon-left-single-arrow:after {
    content: "";
    margin: 0;
}

#modal_jadual .fc-button .fc-icon-left-single-arrow:before {
    content: "\f104";
}

#modal_jadual .fc-button .fc-icon-right-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
}

#modal_jadual .fc-button .fc-icon-right-single-arrow:after {
    margin: 0;
    content: "";
}

#modal_jadual .fc-button .fc-icon-right-single-arrow:before {
    content: "\f105";
}

#modal_jadual .fc-text-arrow {
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline;
}

#modal_jadual .fc-event {
    border: 0px;
    background-color: #69a4e0;
    color: #fff;
}

#modal_jadual .fc-event .fc-content {
    border: 0px;
    padding: 5px 7px;
}

#modal_jadual .fc-event .fc-time {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px;
}

#modal_jadual .fc-event .fc-title {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

#modal_jadual .fc-header-title h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111;
}

#modal_jadual .fc-widget-header {
    background-image: none;
    filter: none;
    background-color: #eee;
    text-transform: uppercase;
    font-weight: 400;
}

#modal_jadual.light .fc-button {
    top: -60px;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 35px;
}

#modal_jadual.light .fc-button .fc-text-arrow {
    margin-top: -6px;
    display: inline-block;
}

#modal_jadual.light .fc-button.fc-state-active, #modal_jadual.light .fc-button.fc-state-hover {
    color: #333;
    border-bottom: 2px solid #36c6d3;
}

#modal_jadual.light .fc-button.fc-state-disabled {
    color: #aaa;
}

#modal_jadual .mobile .fc-button {
    padding: 0px 6px 20px 6px;
    margin-left: 2px;
    border: 0;
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    text-shadow: none;
    text-align: center;
}

#modal_jadual .mobile .fc-button.fc-state-hover, #modal_jadual .mobile .fc-button.fc-state-active {
    background-color: #eee;
}

#modal_jadual .mobile .fc-button.fc-state-disabled {
    color: #bbb;
}

#modal_jadual .mobile .fc-button-prev {
    margin-right: 5px;
    margin-top: -2px;
}

#modal_jadual .mobile .fc-button-next {
    margin-right: -0px;
    margin-top: -2px;
}

#modal_jadual .mobile .fc-header-space {
    margin: 0px;
    padding: 0px;
    width: 0px;
}

#modal_jadual .mobile .fc-header-left {
    position: absolute;
    z-index: 10;
}

#modal_jadual .mobile .fc-header-left .fc-button {
    top: -2px;
}

#modal_jadual .mobile .fc-header-right {
    position: relative;
    right: 0;
}

#modal_jadual .mobile .fc-header-right .fc-button {
    top: 35px;
}

#modal_jadual .mobile .fc-content {
    margin-top: 53px;
}

/*DATATABLES*/
.portlet.light .dataTables_wrapper .dt-buttons, .portlet.box .dataTables_wrapper .dt-buttons {
    margin-top: 0;
}

.dataTables_wrapper .dt-buttons {
    float: left;
}

.spkms-table-overflow {
    overflow-x: scroll;
}

.page-bar .page-toolbar {
    display: inline-block;
}

.select2-container .select2-selecti on--single {
    height: 34px !important;
}

.quill-error {
    color: #e73d4a;
}

table#table_pendaftaran_main {
    text-transform: capitalize;
}