/* RESPONSIVE MANIPULATIONS */
@media print {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 992px) {	
}   

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
    .pin-content{
        font-size: 12px;
    }
    .pin-coordinates {
        font-size: 11px;
    }  
    .pin-header-logo img{
        width: 40px;
    }      
}   

@media (min-width: 581px) and (max-width: 767px) { 
} 

@media (max-width: 580px) {	
}

@media (max-width: 480px) {			
}
