.custom-marker-content {
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 12px;
    word-wrap: break-word;
    line-height: 1.375em;
}
.custom-marker-content th, .custom-marker-content td{
    text-align: center;
    font-size: 11px;
}
.custom-marker-content th img{
    width: 32px;
    height: 20px;
    border: 1px solid #555;
}

.custom-marker-content:hover .custom-marker-avatar{
    border: 1px #000000 solid;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
}
.custom-marker-content:hover .custom-marker-tweet-text{
    color: #000000;
}
.custom-marker-content:hover .custom-marker-fullname{
    color: #000000;
}
.custom-marker-content:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.custom-marker-item-header {
    line-height: 14px;
    color: #8899a6;
}
.custom-marker-fullname {
    font-weight: bold;
    color: #555555;
    text-align: center;
}
.custom-marker-item-links{
    margin: 5px;
    text-align: center;
}
.custom-marker-header-logo{
    text-align: center;    
}
.custom-marker-details{
    text-align: center;    
    padding-top: 5px;
    line-height: 1.1em;
}
.custom-marker-coordinates{
    padding: 5px 0px;
    font-size: 11px;
    text-align: center;
    color: coral;    
}
.custom-map-control-panel-topright {
    display: none;
    position: absolute;
    z-index: 1001;
    right: 0px;
    top: 0px;
    margin-top: 90px;
    margin-right: 100px;
}
.leaflet-popup-content {
    margin: 5px 15px;
}
.leaflet-popup-content-wrapper {
    background-color: rgba(255,255,255,0.8);
    border: white 1px solid;
    box-shadow: 0 3px 14px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-box-shadow 0.5s, background-color 0.5s, border 0.5s;
    -webkit-transition: -moz-box-shadow 0.5s, background-color 0.5s, border 0.5s;
    -webkit-transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
    transition: -webkit-box-shadow 0.5s, background-color 0.5s, border 0.5s;
    transition: -moz-box-shadow 0.5s, background-color 0.5s, border 0.5s;
    transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
}
.leaflet-popup-content-wrapper:hover {
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2); 
    background-color: white;
    border: coral 1px solid;
}
.custom-map-control-panel-bottomleft{
    display:none;
    position: absolute;
    z-index: 500;
    margin-left: 15px;
    margin-bottom: 75px;
    bottom: 0px;
    color: white;
}

.legend-content fieldset {
    border: 1px solid #aaa;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid whitesmoke;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    
}
.legend-content fieldset:hover {
    background: rgba(0,0,0,0.5);
}

.legend-content fieldset legend {
    background: rgba(0,0,0,0.3);
    color: #fff;
    padding: 5px 10px ;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 0px;
}

.legend-content fieldset label {
    margin-left: 5px;
    font-size: 11px;
}
.leaflet-right {
    z-index: 1002;
}